
*.dll
*.cache
*.editorconfig
*.pdb
*.targets
.vs/INV/v16/.suo
*.json
*.props
*.json
INV.Core/obj/project.assets.json
INV.Core/obj/INV.Core.csproj.nuget.g.props
INV.Core/obj/INV.Core.csproj.nuget.dgspec.json
*.json
*.props
*.json
*.json
INV.Core/obj/INV.Core.csproj.nuget.g.props
INV.Core/obj/project.assets.json
INV.Dto/obj/INV.Dto.csproj.nuget.dgspec.json
INV.Dto/obj/INV.Dto.csproj.nuget.g.props
INV.Dto/obj/project.assets.json
*.json
INV/obj/project.assets.json
INV/obj/INV.csproj.nuget.g.props
INV/obj/INV.csproj.nuget.dgspec.json
INV/obj/Debug/net5.0/apphost.exe
INV/bin/Debug/net5.0/INV.runtimeconfig.dev.json
INV/bin/Debug/net5.0/INV.exe
INV.Services/obj/project.assets.json
INV.Services/obj/INV.Services.csproj.nuget.g.props
*.config
*.v2
*.json
*.json
INV.Core/obj/INV.Core.csproj.nuget.dgspec.json
*.props
INV/obj/Debug/net5.0/apphost.exe
INV/obj/Debug/net5.0/apphost.exe
INV/obj/INV.csproj.nuget.dgspec.json
*.json
*.json
*.json
